/FileDescriptor.class
/FileInputStream.class
/FileOutputStream.class
/FileSystem.class
/ObjectInputStream.class
/ObjectOutputStream.class
/ObjectStreamClass.class
/RandomAccessFile.class
/UnixFileSystem$linux_stat.class
/UnixFileSystem.class
/Win32FileSystem.class
