/Adler32.class
/CRC32.class
/Deflater.class
/DeflaterConstants.class
/DeflaterEngine.class
/DeflaterHuffman$Tree.class
/DeflaterHuffman.class
/DeflaterPending.class
/Inflater.class
/InflaterDynHeader.class
/InflaterHuffmanTree.class
/InflaterInputStreamWrapper.class
/OutputWindow.class
/PendingBuffer.class
/StreamManipulator.class
/ZipConstants.class
/ZipEntry.class
/ZipFile$ZipFileInputStream.class
/ZipFile.class
