/Class.class
/ClassLoader.class
/Double.class
/Float.class
/Object.class
/Package.class
/Runtime.class
/SecurityManager.class
/Shutdown.class
/StrictMath.class
/String.class
/System.class
/Thread.class
/Throwable.class
